beautifulsoup4==4.12.3
binarytree==6.5.1
Flask==3.0.2
matplotlib==3.8.2
Modules==1.0.0
networkx==3.2.1
numpy==1.26.4
objgraph==3.6.0
Pillow==10.2.0
psycopg2==2.9.9
pulp==2.8.0
pyodbc==5.1.0
pyzmq==25.1.2
Requests==2.31.0
Sphinx==7.2.6
sphinx-autodoc-annotation==1.0


